{%- assign metafields-products = article.metafields.related.product -%}

{%-  if metafields-products != blank -%}
  <section class="page-width page-width--narrow">
    {%- if section.settings.heading != blank -%}
      <h2 class="title {{ section.settings.heading_size }}">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}
    <div class="d-demo">
      <div class="d-demo__wrap">
          <ul class="d-demo__list d-demo__list--left">
    {%- for product in metafields-products.value  -%}
       
      <li class="d-demo__item">
            <a class="color-background-1" href="{{store.url}}{{ product.url }}">
              <figure class="metafields-product_img">
                <img src="{{ product.featured_image | img_url}} "  alt="{{ product.featured_image }}">
              </figure>
                <span class="color-background-1">{{ product.title }}</span>
            </a>
          </li>
          
    {%- endfor -%}
     </ul>
  </div>
</div>
    <style>
      @keyframes infinity-scroll-left {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }

.d-demo__wrap {
  display: flex;
  overflow: hidden;
}

.d-demo__list {
  display: flex;
  list-style: none;
}

.d-demo__list--left{
animation :infinity-scroll-left 95s infinite linear 10s both;
}

.d-demo__item {
  width: calc(100vw / 6);
}
.d-demo__item > img{
   width: 100%;
}
      
      .list-unstyled {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
      }

      .list-unstyled::after {
          content:"";
          display: block;
          width:48%;
      }
      .metafields-product {
        width: 48%;
        margin-bottom: 10px;
        padding:0;
      }
      .metafields-product
      .metafields-product a {
    
      }

      .metafields-product_img {
        padding:0;
        margin: 0;
        line-height: 100%;
      }
      .metafields-product_img img {
        width: 100%;
        padding:0;
        margin:0;
      }
      span {
margin:0;
padding:0;
      }

    </style>
    </ul>
  </section>
{%- endif -%}

{% schema %}
  {
    "name": "関連商品（メタフィールド）2",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "セクションタイトル",
        "default": "こちらのページでご紹介した商品"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h2",
        "label": "t:sections.all.heading_size.label"
      }
    ],
    "presets" : [
      {
        "name" : "関連商品（メタフィールド設定）2"
      }
    ],
    "templates" : [
      "article"
    ]
  }
{% endschema %}